* {
  margin: 0;
  bottom: 0;
}
.main {
  color: red;
}
.nav {
  width: 100%;
  line-height: 80px;
  text-align: center;
  background-color: #ccc;
}
.wrapper {
  display: flex;
}
.sidebar {
  flex: 1;
  min-height: 600px;
  border-right: 2px solid #ccc;
}
.mainpanel {
  flex: 4;
  min-height: 600px;
}
.com {
  width: 50%;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
}
.com:hover {
  box-shadow: 2px 2px #ccc;
  cursor: pointer;
}
.basic-component {
  min-height: 50px;
  border: 1px dashed #ccc;
  margin: 10px;
}
