.main {
  color: red;
}
.nav {
  width: 100%;
  line-height: 80px;
  text-align: center;
  background-color: #394b6b;
  color: white;
  position: relative;
}
.nav-wrapper {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.wrapper {
  display: flex;
}
.sidebar {
  flex: 1;
  min-height: 600px;
  border-right: 2px solid #ccc;
}
.tab-bar {
  width: 100%;
  box-sizing: border-box;
  line-height: 40px;
  border: 1px solid #eee;
  text-align: center;
  background-color: #eee;
  border-radius: 10px;
  z-index: 2;
}
.tab-child {
  transition: all 0.5s 0s linear;
  overflow: hidden;
}
.mainpanel {
  position: relative;
  flex: 4;
  min-height: 600px;
}
.main-basic {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: auto;
  width: 200px;
  height: 50px;
  border: 2px dashed #eee;
  text-align: center;
  line-height: 50px;
}
.com {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
  line-height: 30px;
  text-align: center;
}
.com:hover {
  box-shadow: 2px 2px #ccc;
  cursor: pointer;
}
.basic-component {
  min-height: 50px;
  border: 1px dashed #ccc;
  margin: 10px;
  position: relative;
}
.btn-nav {
  position: absolute;
  top: 0px;
  right: 0px;
}
.btn-oper {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  margin-right: 10px;
}
.btn-oper:hover {
  box-shadow: 1px 1px 5px #ccc;
  cursor: pointer;
}
.preview-btn {
  display: inline-block;
  background-color: #FFBBFF;
  line-height: 30px;
  border-radius: 20px;
  width: 50px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 2px 2px 2px #ccc;
}
.modal-wrapper {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal {
  position: fixed;
  width: 600px;
  min-height: 400px;
  max-height: 600px;
  overflow: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: 1px 1px 5px #eee;
  background-color: white;
  z-index: 999;
}
.meta-wrapper {
  display: flex;
  margin: 20px 0;
}
.meta-text {
  flex: 3;
  display: flex;
  justify-content: flex-end;
}
.meta-input {
  flex: 5;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
.meta-input input {
  width: 200px;
}
.meta-radio {
  flex: 5;
  display: flex;
  justify-content: space-around;
}
.meta-radio input {
  margin-right: 10px;
}
.btn-bottom {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  padding: 0 50px;
}
.confirm-btn {
  display: inline-block;
  width: 150px;
  line-height: 30px;
  text-align: center;
  background-color: #0084ff;
  color: white;
  font-size: 20px;
  border-radius: 15px;
}
.cancel-btn {
  display: inline-block;
  width: 150px;
  line-height: 30px;
  text-align: center;
  background-color: #98FB98;
  color: white;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid #ccc;
}
.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.icon-up {
  background-image: url('/img/up.png');
}
a {
  text-decoration: none;
  color: black;
}
* {
  margin: 0;
  padding: 0;
}
