*{
    margin: 0;
    padding: 0
}
.layout-wrapper{
    display: flex;
}
.layout-item{
    min-height: 100px;
}
.basic-component {
    min-height: 50px;
    position: relative;
    overflow: hidden;
}