<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app"></div>
    <script>
    </script>
<script type="text/javascript" src="/dist/1/vendor.js"></script><script type="text/javascript" src="/dist/1/entry.js"></script>
<script>
    window.onload = function() {
        setTimeout(function() {
            with(performance){
                readyStart = timing.fetchStart - timing.navigationStart;
                redirectTime = timing.redirectEnd  - timing.redirectStart;
                appcacheTime = timing.domainLookupStart  - timing.fetchStart;
                unloadEventTime = timing.unloadEventEnd - timing.unloadEventStart;
                lookupDomainTime = timing.domainLookupEnd - timing.domainLookupStart;
                connectTime = timing.connectEnd - timing.connectStart;
                requestTime = timing.responseEnd - timing.requestStart;
                initDomTreeTime = timing.domInteractive - timing.responseEnd;
                domReadyTime = timing.domComplete - timing.domInteractive;
                 loadTime = timing.loadEventEnd - timing.navigationStart;
                 //过早获取时 domComplete有时会是0
                 loadEventTime = timing.loadEventEnd - timing.loadEventStart;
                 //过早获取时 loadEventEnd有时会是0
                console.log('准备新页面时间耗时: ' + readyStart);
                console.log('redirect 重定向耗时: ' + redirectTime);
                console.log('Appcache 耗时: ' + appcacheTime);
                console.log('unload 前文档耗时: ' + unloadEventTime);
                console.log('DNS 查询耗时: ' + lookupDomainTime);
                console.log('TCP连接耗时: ' + connectTime);
                console.log('request请求耗时: ' + requestTime);
                console.log('请求完毕至DOM加载: ' + initDomTreeTime);
                console.log('解释dom树耗时: ' + domReadyTime);
                console.log('从开始至load总耗时: ' + loadTime);
            }
        }, 5000)
    }
</script>
</body>
</html>